@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(66, 66, 82);

}
div{
  color: white
}
.foodcard{
box-shadow: black 10px 10px;
}
input{
  background-color: transparent;
  border-color: white;
  border-width: 2px;
  padding: 2px;
box-shadow: black 10px 10px;
text-align: center;
  color: white;
}
button{
  background-color: green;
  border-color: white;
  border-width: 2px;
  padding: 2px;
  box-shadow: black 10px 10px; 
  text-align: center;
  color: white;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.selected{
  background-color: green;
}